
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand pr-5" href="{{ path("home") }}"><img id="img_nav" src="/images/deals.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link border-end d-flex justify-content-center" href="{{ path('home') }}?typeSearch=new">{{'nav.link.news' |trans }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active border-end d-flex justify-content-center" href="{{ path('home') }}?typeSearch=hot">Hot<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="btn-toggle d-flex justify-content-center pt-2">
                {% if is_granted('ROLE_USER')  %}
                    <a type="button" class="btn btn-dark mx-2 " href="{{ path("fos_user_security_logout") }}">{{'nav.link.logOut' |trans }}</a>
                    <a type="button" class="btn btn-primary mx-2" href="{{ path("mon_profil") }}"><i class="fas fa-user-circle mr-2"></i>{{ 'nav.link.profil' |trans }}</a>
                {% else  %}
                    <a type="button" class="btn btn-dark mx-2" href="{{ path("fos_user_security_login") }}">{{'nav.link.logIn' |trans }}</a>
                {% endif %}
                <a type="button" class="btn btn-color mx-2" href="{{ path("newDeal") }}">{{'nav.link.post' |trans }}</a>
            </div>
        </div>
    </div>
</nav>


